<div class="filter" fxLayout="row" fxLayoutAlign="space-around center">
  <span class="filter-button" fxLayout="row" fxLayoutAlign="center center">Month<mat-icon>expand_more</mat-icon></span>
  <span class="filter-button" fxLayout="row" fxLayoutAlign="center center">Filter<mat-icon>expand_more</mat-icon></span>
</div>

<button class="float-button" mat-fab color="accent" [routerLink]="['/order', { outlets: { popup :['new'] }}]">
  <mat-icon>add</mat-icon>
</button>

<div class="
  list">
  <mat-card *ngFor="let order of orders">
    <a [routerLink]="['/order', { outlets: { popup: [1] }}]">
      {{ order}}
    </a>
  </mat-card>
  </div>
